spring:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/api
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
        show_sql: false

security:
  crypto-secret: s2d21qera41#1q2f31!#%1345512
